body {
    margin: 30px;
    padding: 0;
    color: #666666;
}
h1 {
    font-size: large;
    font-style: italic;
}
a:link{
    color: #00bfff;
}
a:visited {
    color: #6495ed;
}
li {
    list-style-type: circle;
}